.counter-wrapp{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grayish-blue-light-1);
    border-radius: 10px;
    padding: 0 20px;

    button{
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        overflow: visible;
        background: transparent;
        font-size: 30px;
        color: var(--orange);
    }
    .count{
        font-weight: bold;
    }

}
