.wrapp-menu{
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 0 20px;
    div{
        display: flex;
        align-items: end;
        gap: 20px;

        .toggle{
            -webkit-appearance: none;
            border-radius: 0;
            text-align: inherit;
            background: none;
            box-shadow: none;
            padding: 0;
            cursor: pointer;
            border: none;
            color: inherit;
            font: inherit;
            height: fit-content;
            z-index: 30;
        }
        img{
            height: 20px
        }
        .menu{
            height: 15px;
            z-index: 30;
        }
        .logo{
            height: 18px;
        }

        .bg-dark{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: var(--black-opacity);
            z-index: 30;
        }
        .bg{
            align-items: flex-start;
            width: 70%;
            height: 100vh;
            background-color: var(--white);
            
            ul{
                text-align: start;
                margin-top: 80px;
                li{
                    font-size: 17px;
                    font-weight: bold;
                    padding: 13px 20px;
                }
            }
        }

        .cart-icon-wrap{
            position: relative;
            .total{
                font-size: 12px;
                background-color: var(--orange);
                color: var(--white);
                position: absolute;
                top: -8px;
                left: 8px;
                padding: 0px 7px;
                border-radius: 10px;
            }
        }

        //cart 
        .cart-wrap{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            border-radius: 10px;
            padding: 20px;
            top: 80px;
            left: 2.5%;
            width: 95%;
            min-height: 280px;
            max-height: 330px;
            background: var(--white);
            z-index: 21;
            overflow-y: scroll;
            overflow-x: hidden;
            hr{
                position: relative;
                width: calc(100% + 40px);
                right: 20px;
                border-top: 1px solid var(--grayish-blue-light-2);
            }
            
            .cart-detail-wrap{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                flex:1;
                width: 100%;
                .item-wrapp {
                   line-height: 10px;
                   width: 100%;
                   justify-content: space-between;
                   align-items: center;
                   color: var(--grayish-blue-dark-1);
                    img{
                        height: 55px;
                        border-radius: 5px;
                    }
                    .item-detail{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .item-price{
                            gap: 5px;
                            b{
                                color: var(--black);
                            }
                        }
                    }
                }
            }
            .center{
                justify-content: center;
            }
        }
    }
}