.wrap-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    border-radius: 15px;

    .wrap-photo {
        overflow: hidden;
        border-radius: 15px;
        .img-wrap {
            display: flex;
            width: 490px;
            transform: translateX(0px);
            transition: transform 0.3s ease-in-out;
        }
    }

    .img-thumb {
        display: flex;
        gap: 30px;
        img {
            width: 100px;
            border-radius: 15px;
        }
        .active {
            opacity: 0.5;
        }
    }
}
