@import "src/styles/App.scss";
.carousel {
    position: relative;
    width: 100vw;
    overflow: hidden;

    .navigation {
        position: absolute;
        @include resetButton;
        width: 40px;
        height: 40px;
        background-color: white;
        position: absolute;
        border-radius: 50%;
        top: calc(50% - 20px);
        margin: 0 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25%;
        z-index: 20;
    }
    .next {
        right: 0;
        background-image: url("src/assets/images/icon-next.svg");
    }
    .prev {
        left: 0;
        background-image: url("src/assets/images/icon-previous.svg");
    }

    .image-wrapp {
        display: flex;
        transform: translateX(0px);
        transition: transform 0.3s ease-in-out;
    }
}
